.head {
    background-color: rgb(23, 23, 79);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opt {
    margin-left: 20px;
    margin-top: -60px;
}

.options {
    width: 0px;
    height: 300px;
}

.blog {
    background-color: white;
    border: 1px groove red;
    padding: 0px 50px;
    text-align: center;
}

.blog h2 {
    margin-top: -20px;
}

.blog p {
    margin-bottom: 0;
}

#news {
    text-align: center;
}

.subscribe {
    text-align: end;
    margin-right: 30px;
    margin-top: -35px;
}

#sub {
    margin-right: 170px;
}

#btn {
    background-color: black;
    color: white;
}

#btn:hover {
    background-color: tomato;
}

aside {
    margin-left: 190px;
    margin-top: -170px;
}

#title1,
#title2,
#title3 {
    color: rgb(6, 6, 97);
}

#options:hover {
    background-color: grey;
}

#btn2 {
    background-color: tomato;
    color: white;
    border: none;
    size: 40px;
    width: 130px;
    height: 30px;
    border-bottom-color: black;
    
}

#btn2:hover {
    background-color: black;
    
}

@media screen and (max-width: 850px) {


    #news {
        width: 100%;
        max-width: 100%;
        font-size: 1.5rem;
    }

    .opt {
        width: 10%;
        max-width: 70%;
        font-size: 1rem;
    }

    #sub {
        display: block;
        font-size: 1rem;
        width: 100%;


    }
}

#emailinput {
    font-size: 0.9rem;
    max-width: 15%;

}

#btn {
    font-size: 0.8rem;

}